# dependencies
/node_modules

# production
build
dist

# misc
.env.local
.env.development.local
.env.development.local.*
.DS_Store

# api test server
/server/node_modules
/server/build

# temp disabled, working on CI
.circleci/config-*.yml
process.yml

#testing
cypress.env.json
cypress/videos
cypress/screenshots
cypress/reports/
mochawesome-report/
coverage/
node_modules
node_modules
node_modules
